@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-family: YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  color: #1B224C;
  background-color: #fff;
  line-height: 1.5;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover, a :focus {
  opacity: .7;
}

img {
  width: 100%;
}

.header {
  height: 8rem;
  padding-right: 1rem;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_icon {
  margin-right: 2.8rem;
}

@media screen and (max-width: 1023px) {
  .header_icon {
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .header_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
}

.header_btn {
  display: inline-block;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  width: 14rem;
  border-radius: 5px;
  padding: 1.5rem 0;
}

.header_btn:nth-of-type(1) {
  margin-right: 1rem;
}

@media screen and (max-width: 1023px) {
  .header_btn {
    font-size: 1.2rem;
    width: 10rem;
  }
}

.main-logo {
  width: 13.6rem;
  height: 2.7rem;
}

@media screen and (max-width: 1023px) {
  .main-logo {
    width: 11rem;
    height: 2.1rem;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-item {
  margin-right: 3.8rem;
}

@media screen and (min-width: 768px) {
  .menu-item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-item {
    margin-right: 1.5rem;
  }
}

.menu a {
  color: #1B224C;
  font-size: 1.6rem;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .menu a {
    color: #fff;
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu a {
    font-size: 1.4rem;
  }
}

.info {
  text-align: end;
  margin-right: 2.4rem;
}

@media screen and (max-width: 1023px) {
  .info {
    margin-right: 1.2rem;
  }
}

.business-hours {
  color: #1B224C;
  font-size: 1.2rem;
}

.phone-number {
  color: #1B224C;
  font-size: 1.6rem;
  font-weight: bold;
}

@media screen and (max-width: 1023px) {
  .phone-number {
    font-size: 1.4rem;
  }
}

.phone-number::before {
  content: '';
  background-image: url(../img/handset02.png);
  width: 1rem;
  height: 1.4rem;
  display: inline-block;
  margin-right: .5rem;
}

.request-btn {
  background-color: #F5A623;
}

.contact-btn {
  background-color: #1B224C;
}

@media screen and (max-width: 767px) {
  .sp-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #1B224C;
  }
}

@media screen and (max-width: 767px) {
  .sp-menu__item {
    border-bottom: solid 1px #fff;
    width: 50%;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-left: auto;
  }
  .sp-menu__item:nth-of-type(1) {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .sp-btn {
    z-index: 2;
    margin-top: 2rem;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .sp-btn {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hamburger {
    z-index: 3;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    -webkit-transition: all .4s;
    transition: all .4s;
    z-index: 2;
  }
  .hamburger__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: inherit;
    transition: inherit;
  }
  .hamburger__line::before, .hamburger__line::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    -webkit-transition: inherit;
    transition: inherit;
  }
  .hamburger__line::before {
    top: -1rem;
  }
  .hamburger__line::after {
    top: 1rem;
  }
  .hamburger__line.open {
    background-color: transparent;
  }
  .hamburger__line.open::before, .hamburger__line.open::after {
    background-color: #fff;
  }
  .hamburger__line.open::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 48%;
  }
  .hamburger__line.open::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 48%;
    opacity: 1;
  }
}

.hamburger__btn {
  display: inline-block;
  text-decoration: none;
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .hamburger__btn {
    display: block;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
}
